.headingText {
    font-size: 32px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    margin-bottom: 20px !important;
    padding-bottom: 0;
    color: #124265 !important;
    font-family: 'Poppins', sans-serif !important;
  }

  .blueButton {
    background: #2487ce;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
    align-items: center;
  }


  .validateText {
    color: red;
    margin: 0 0 0 0;
    padding-top: 0px;
    padding-bottom: 1px;
    font-weight: 500;
    font-size: 13px;
  }
  .footerAlignBottom {
    /* position:absolute; */
    left:0;
    bottom:0;
    right:0;

  }

  .formInput {
    /* display: block; */
    width: 100%;
    height: calc(1em + 0.45rem + 10px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 0.5rem;
  }
  /* .formInput::placeholder {
    color: #6c757d;
    opacity: 1;
  } */

  /* .formInput:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  } */